[Unit]
Description=AP server and services
DefaultDependencies=no
Requires= network.target 
Requires= ruijie.service
Wants=ruijie.service
Wants=
Wants=

After= ruijie.service
After= 
After= 
After= 
Before= 

# GSS services dependencies and ordering
Wants=
After=

[Service]
Type=oneshot
RemainAfterExit=yes
SysVStartPriority=99
ExecStartPre=
ExecStart=/home/whqee/.ruijie/.ruijie $(cat /home/whqee/.ruijie/.AP_id_passwd)
ExecStop=
ExecStopPost=
ExecStopPost=

ExecReload=/home/whqee/.ruijie/.ruijie $(cat /home/whqee/.ruijie/.AP_id_passwd)

[Install]
WantedBy=multi-user.target
