[Unit]
Description=AP server and services
ConditionPathExists=/opt/ruijie
Requires= network.target

After= ruijie.service

[Service]
Type=oneshot
RemainAfterExit=yes
SysVStartPriority=99
StandardInput=tty
ExecStartPre=
ExecStart=/opt/ruijie/AP
ExecStop=
ExecStopPost=
ExecStopPost=

ExecReload=/opt/ruijie/AP

[Install]
WantedBy=multi-user.target
