[Unit]
Description=AP server and services
ConditionPathExists=/opt/ruijie
Requires= network.target


[Service]
Type=forking
RemainAfterExit=yes
SysVStartPriority=99
ExecStart=/opt/ruijie/AP
ExecReload=/opt/ruijie/AP

[Install]
WantedBy=multi-user.target
