[Unit]
Description=ruijie server and services
ConditionPathExists=/opt/ruijie/
After= network.target 


[Service]
Type=forking
RemainAfterExit=yes
SysVStartPriority=99

ExecStart=/opt/ruijie/ruijie
ExecReload=/opt/ruijie/ruijie

[Install]
WantedBy=multi-user.target
